*.txt
*.xml
*.tsv
*.pyc
*.xlsx
*.png
*.zip
*.csv
UnimarcA.doc
!listeUnimarcA_last.txt
!listeUnimarcB_last.txt
!listeRIM_B_last.txt
!listeRIM_A_last.txt
!chantiers/NNB_jurisprudence_extraction.xlsx
!scripts/043/tableau_cas_de_tests.xlsx
!scripts/043/tableau_cas_de_tests.csv
!scripts/043/castest-aut.xml